@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Play);
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}


/************ Layout Containers *******************************/

#wrapper {
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

#wrapper>header {
    width: 100%;
    max-width: 1065px;
    position: relative;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .8);
    height: 45px;
    padding: 15px 0 15px 15px;
    margin: 10px 0 0 0;
}

#wrapper>header h1 {
    font-family: 'Play', sans-serif;
    color: white;
    font-size: 3em;
}

#wrapper>section {
    position: relative;
    border: 1px solid #ccc;
    padding: 15px;
}

section.page {
    top: 10px;
}


/************ Main Header Styles *******************************/

#wrapper>header nav {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#wrapper>header nav li {
    display: inline;
}

#wrapper>header nav li a {
    display: inline-block;
    padding: 5px;
    text-align: center;
    background-color: azure;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}


/************ Project Dashboard Page Styles *******************************/

.projectTile {
    width: 300px;
    height: 300px;
    border: 3px solid #777;
    padding: 7px;
    background: rgba(255, 255, 255, .9);
}

.projectTile h2 {
    font-weight: bold;
    margin-bottom: 15px;
    background: #222;
    padding: 5px;
    color: white;
}

.projectDesc {
    margin: 10px 0;
}

.projectInfo ul li {
    text-align: right;
    margin: 7px 0;
}

.projectInfo ul {
    margin: 15px 0;
}

.ferrari {
    background: url(eyecandy/fez1.jpg) no-repeat;
    background-size: contain;
}

.orangeTile {
    background: rgba(255, 140, 25, .4);
}

.azureTile {
    background: rgba(152, 231, 255, .4);
    border-color: cornflowerblue;
}

.openProjectLnk {
    /*    background-color: #C1FF8C;*/
}

.deleteProjectLnk {
    /*    background-color: #FF5A59;*/
}

#existingProjectsPane ul li {
    display: inline-block;
    margin: 20px;
}

#projectTitle {
    font-size: 2em;
    margin: 7px 0;
    color: white;
}


/************ Project Page Styles *******************************/

#projectPage>header {
    width: 98%;
    max-width: 1025px;
    background-color: rgba(0, 0, 0, .65);
    padding: 15px 0 15px 15px;
}

#projectPage>header nav li {
    display: inline-block;
    width: 24%;
    text-align: center;
}

#projectPage>header nav li a {
    display: inline-block;
    width: 96%;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.active {
    background-color: orange;
}

#previewPane {
    position: absolute;
    top: 105px;
    right: 20px;
    width: 50%;
    max-width: 500px;
}

#projectPage>section {
    margin: 15px 0;
}

#projectPage .panel {
    width: 45%;
}

#previewPane .clipPropsControls .linkBtn {
    width: 30%;
    display: inline-block;
}


/************PREVIEW PANE*******************************/

#previewPane {
    background: rgba(0, 0, 0, .8);
    margin-bottom: 10px;
}

#clipEditorControls {
    margin: 30px 0;
    position: relative;
}

#clipEditorControls a,
#clipEditorControls li {
    color: white;
}

#clipEditorControls li {
    font-size: .85em;
    margin: 15px 0;
}

#clipEditorControls label {
    display: none;
}

#clipEditorControls input,
#clipEditorControls textarea {
    font-size: 1em;
    width: 98%;
}

#clipPropsEditor {}

#annotationEditor {
    position: absolute;
    top: -440px;
    right: 100%;
    border: 2px solid black;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-right: none;
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, .8);
    padding: 5px;
}

#annotationEditor h2 {
    color: white;
    border-bottom: 1px solid white;
    background: #222;
    padding: 5px;
    width: 95%;
}

#annotationEditor .tabs {
    background: #222;
    padding: 5px;
    width: 95%;
}

#annotationEditor .tabs li {
    display: inline-block;
    width: 40%;
}

#annotationEditor #savedAnnosPane ul {
    height: 295px;
    overflow: auto;
}

#annotationEditor #savedAnnosPane ul li {
    width: 100%;
}

#annotationEditor .tabs li a {
    display: inline-block;
    width: 80%;
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
}

#annotationEditor #savedAnnosPane li {
    display: block;
    border-bottom: 1px solid #ccc;
}

#annotationEditor #createAnnosPane li {
    width: 20%;
}

#annotationEditor #createAnnosPane li a {
    font-size: .85em;
    background: #ccc;
    text-align: center;
    color: #222;
    width: 100%;
}

#annotationEditor #createAnnosPane textarea {
    min-height: 125px;
    width: 97%;
}

.annotationTimeDisplay,
#annoStartTime {
    font-size: .7em;
    color: white;
    font-family: courier;
    margin-right: 10px;
    display: inline-block;
    width: 185px;
}

#annoStartTime {
    background: transparent;
    border: none;
    color: orange;
}

#setAnnoTimeLink {
    font-size: .7em;
    padding: 5px;
}

.annotationTimeDisplay:before {
    content: 'Current position: ';
}

#savedAnnosPane ul {
    background: white;
    padding: 5px;
    color: black;
}

#savedAnnosPane ul li {
    color: black;
}

#annotationEditor #savedAnnosPane .linkBtn {
    color: black;
    border-color: #ccc;
    display: inline-block;
    width: 25%;
}

#clipEditorControls input#annoStartTime {
    width: 65px;
    display: inline-block;
    margin-left: 10px;
}

.annoStartText {
    color: orange;
}


/************VIDEOJS RANGE SLIDER*******************************/

.vjs-controltimepanel-RS {
    background: black;
}


/************ICON STYLES****************************************/

.noThumb {
    background: url(icons/1441652014_film_clip_movie_timestamp.svg) no-repeat;
    background-size: contain;
}


/************GENERAL UTILITY STYLES****************************************/

.multiline-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 43px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail {
    float: left;
    margin-right: 10px;
    width: 45px;
}

.searchResult,
.resource,
.clip {
    clear: left;
    margin: 15px;
    max-width: 250px;
}

.resource {
    min-height: 85px;
}

.title {
    font-weight: bold;
    font-size: .9em;
}

.description {
    font-size: .8em
}

.linkBtn {
    display: block;
    padding: 5px;
    font-size: .8em;
    border: 1px solid #777;
    border-radius: 5px;
    text-align: center;
    margin: 7px 0;
    text-decoration: none;
    color: black;
}

#youtubeSearch {
    /*    height: 400px;*/
    width: 300px;
    background: rgba(0, 0, 0, .1);
}

#youtubeSearch h2 {
    background: white url(eyecandy/YouTube-logo-full_color.png) no-repeat top right;
    background-size: 20%;
    height: 40px;
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#youtubeSearch ul {
    background: white;
    padding-top: 10px;
    height: 295px;
    overflow: auto;
    margin-top: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#wellcomeFileSearch {
    /*    height: 400px;*/
    overflow: auto;
    width: 300px;
    background: rgba(0, 0, 0, .1);
}

#wellcomeFileSearch h2 {
    background: white url(eyecandy/wellcome_logo.jpeg) no-repeat top right;
    background-size: 20%;
    height: 40px;
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#localFileSearch {
    width: 300px;
    min-height: 75px;
    background: rgba(0, 0, 0, .1);
}

#localFileSearch h2 {
    background: white url(eyecandy/laptop.jpg) no-repeat top right;
    background-size: 8%;
    height: 40px;
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel {
    /*    border: 1px solid #999;*/
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 1px black;
}

.panel h2 {
    background: white;
    color: #222;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}


/*
#projectResourcesPanel {
    float: left;
}*/


/**************GENERAL FORM ELEMENT STYLES***************************/

input[type=text],
textarea {
    border: 1px solid #ccc;
    padding: 5px;
}
